@import "https://use.fontawesome.com/releases/v5.3.1/css/all.css";
@import url('https://fonts.googleapis.com/css?family=K2D');
/* CSS FOR MOBILE */

::ng-deep body
{
  background: url("../../assets/img/bg-pattern.png"), #7b4397;
  background: url("../../assets/img/bg-pattern.png"), -webkit-gradient(linear, right top, left top, from(#167AC6), to(#D02525));
  background: url("../../assets/img/bg-pattern.png"), linear-gradient(to left, #167AC6, #D02525);
  padding-top: 0;
}

.container
{
  padding-top: 2%;
}

.card
{
  background-color: #ebebeb;
  margin-top: 1%;
}

.card-login
{
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0, 0.1);

}

.card-login .card-title
{
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
  font-family: 'K2D', sans-serif;
}

.card-login .card-body
{
  padding: 2rem;
  /* background-color: #ebebeb; */
}

.form-login
{
  width: 100%;
}

.form-login .btn
{
    background: linear-gradient(to left, #D02525 50%, #167AC6 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    border: 1px solid #ebebeb;
    transition: all .3s linear;
    color: #ffffff;
    font-size: 18px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0;
    font-family: 'K2D', sans-serif;
}

.form-login .btn:hover
{
  background-position:left bottom;
}

.form-label-group
{
  border-radius: 2rem;
}

.logo
{
  max-width: 120px;
}

#error
{
  display: none;
}

#success
{
  display: none;
}


i
{
  font-size: 20px;
  color: #333333;
}

.g-recaptcha
{
      display: inline-block;
}

p
{
  font-family: 'K2D', sans-serif;
  color: #ff4c4c;
}
