<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
      <div class="alert alert-danger" id="error" role="alert">

      </div>
      <div class="alert alert-success" id="success" role="alert">
          <strong>User created</strong> Click <a href="/login">here</a> to login.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
      <div class="card card-login my-5">
        <div class="card-body">
          <div class="row pb-4">
            <div class="col-12">
              <h5 class="card-title text-center">Langusta</h5>
            </div>
            <div class="col-12">
              <img src="assets/img/logo.png" class="mx-auto d-block rounded-circle border logo" alt="logo">
            </div>
          </div>
          <form [formGroup]="form" class="form-login">
            <fieldset>

              <div class="form-label-group pb-2">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <input type="text" id="inputFirstName" name="firstNmae" placeholder="First name" class="form-control" formControlName="firstName" required autofocus/>
                  </div>

                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf="firstName.errors">
                   <div *ngIf="firstName.touched && lastName.errors.required">
                      <p>First name required.</p>
                   </div>
                  </div>

                </div>
              </div>

              <div class="form-label-group pb-2">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <input type="text" id="inputLastName" name="lastNmae" placeholder="Last name" class="form-control" formControlName="lastName" required/>
                  </div>

                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf="lastName.errors">
                   <div *ngIf="lastName.touched && lastName.errors.required">
                      <p>Last name required.</p>
                   </div>
                  </div>

                </div>
              </div>

            <div class="form-label-group pb-4">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <input type="email" id="inputEmail" name="login" placeholder="Email address" class="form-control" formControlName="email" required/>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf="email.errors">
                 <div *ngIf="email.touched && email.errors.required">
                    <p>Email required.</p>
                 </div>
                 <div *ngIf="email.errors.pattern">
                     <p>Email format not valid.</p>
                 </div>
                </div>

              </div>
            </div>

            <div class="form-label-group pb-2">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <input type="password" id="inputPassword" name="pass" placeholder="Password" class="form-control" formControlName="password" required/>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf="password.errors">
                 <div *ngIf="password.touched && password.errors.required">
                    <p>Password required.</p>
                 </div>
                </div>

              </div>
            </div>

            <div class="form-label-group pb-4">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <input type="password" id="inputPassword" name="pass" placeholder="Repeat password" class="form-control" formControlName="passwordConfirm" oninvalid="setCustomValidity('Minimum length is 6 characters')" required/>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf="passwordConfirm.errors">
                 <div *ngIf="passwordConfirm.touched && passwordConfirm.errors.required">
                    <p>Password required.</p>
                 </div>
                </div>

              </div>
            </div>
          </fieldset>
          
          <div class="text-center">
            <div class="g-recaptcha" data-sitekey="6LejQHcUAAAAAD7X_BomHgoP6hjrqeuU8ockyyhD"></div>
            </div>
            <hr class="my-4">
            <button type="submit" name="button" class="btn btn-long btn-block text-uppercase" (click)="register()">Register</button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
