<div id="langusta">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="#langusta">Langusta</a>
        <button id="resMenuButton" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="ToggleResMenu()">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link text-secondary" href="#download">Download</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary" href="#features">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary" href="#contact">Contact</a>
            </li>
            <li>
              <div class="vl">

              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary" href="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary" href="/login">Sign in</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-5">Langusta is an application which allows you to manage both Facebook and YouTube accounts in one place!</h1>
              <a href="#features" class="btn btn-outline btn-xl js-scroll-trigger">Learn more!</a>
            </div>
          </div>
          <div class="col-lg-5 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait black">
                <div class="device">
                  <div class="screen">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <img src="assets/img/demo-screen-1.jpg" class="img-fluid" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="download bg-primary text-center" id="download">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading">Available on Google Play!</h2>
            <p>Download now and make you life easier!</p>
            <div class="badges">
              <a class="badge-link" href="#"><img src="assets/img/google-play-badge.svg" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="features" id="features">
      <div class="container">
        <div class="section-heading text-center">
          <h2>All you need in one place</h2>
          <p class="text-muted">Check out what you can do with Langusta app!</p>
          <hr>
        </div>
        <div class="row">
          <div class="col-lg-4 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait black">
                <div class="device">
                  <div class="screen">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <img src="assets/img/demo-screen-1.jpg" class="img-fluid" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 my-auto">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-screen-smartphone text-primary"></i>
                    <h3>Mobile Application</h3>
                    <p class="text-muted">Built with the most important functions in mind. Comfortable in use even on your smartphone!</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-present text-primary"></i>
                    <h3>Competitions</h3>
                    <p class="text-muted">Quick and easy competition maker for your social networks of choice.</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-envelope text-primary"></i>
                    <h3>Auto responding</h3>
                    <p class="text-muted">Automated responding for your fanpage.</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-people text-primary"></i>
                    <h3>Social networks</h3>
                    <p class="text-muted">Connect your social networks and manage them from one place.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="cta">
      <div class="cta-content">
        <div class="container">
          <h2>Stop waiting.<br>Start building.</h2>
          <a href="#contact" class="btn btn-outline btn-xl js-scroll-trigger">Let's Get Started!</a>
        </div>
      </div>
      <div class="overlay"></div>
    </section> -->

    <section class="contact bg-primary" id="contact">
      <div class="container">
        <h2>Any questions? <br> Check out <a href="#" class="faq-link">FAQ</a> or contact as via</h2>
        <ul class="list-inline list-social">
          <li class="list-inline-item social-twitter">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item social-facebook">
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item social-google-plus">
            <a href="#">
              <i class="fab fa-google-plus-g"></i>
            </a>
          </li>
          <li class="list-inline-item email">
            <a href="#">
              <i class="far fa-envelope"></i>
            </a>
          </li>
        </ul>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>&copy; SpajsTech 2018. All Rights Reserved.</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">Privacy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms</a>
          </li>
          <li class="list-inline-item">
            <a href="#">FAQ</a>
          </li>
        </ul>
      </div>
    </footer>
</div>
