<div class="add-fb-post">
  <div class="row justify-content-md-center mr-0 ml-0 mt-5">
    <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><p>Make contest for Facebook fanpage</p></h5>
          <hr class="my-4">
          <div id="error" class="alert alert-danger"></div>
          <div id="success" class="alert alert-success">
            The contest has been made.
          </div>
          <div id="info" class="alert alert-info">
            Creating contest...
          </div>
          <div id="info2" class="alert alert-warning">
            There are no facebook accounts/fanpages associated with this account!
          </div>
          <div id="warning" class="alert alert-warning">
            Fields are empty. Please make sure to fill them before sending.
          </div>
            <form [formGroup]="form" class="">
              <fieldset>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <h5>Title</h5>
                    <input class="form-control" type="text" name="contestTitle" value="" formControlName="title">
                  </div>
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2">
                    <!-- <input type="radio" name="platform" value="youtube" class="" formControlName="platform" (change)="radioChange(1)">Youtube<br> -->
                    <input type="radio" name="platform" value="facebook" class="" formControlName="platform" (change)="radioChange(2)">Facebook<br>
                  </div>
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2">

                      <div *ngIf="isFacebook; then fblist else nothing"></div>
                      <!-- <div *ngIf="isYoutube; then ytlist else nothing"></div> -->


                      <ng-template #fblist>
                        <div class="row">
                        <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                          <h5>Fanpage:</h5>
                        </div>
                        <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                          <select class="form-control" name="" (change)="getPosts($event.target.value)">
                            <option></option>
                            <option *ngFor="let fbPage of fbPages" [value]="fbPage.id" >{{fbPage.name}}</option>
                          </select>
                        </div>

                        <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                          <h5>Post:</h5>
                        </div>
                        <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                          <select class="form-control" name="postLink" formControlName="postLink">
                            <option *ngFor="let fbPost of fbPosts" [value]="fbPost.id" >{{fbPost.message}}</option>
                          </select>
                        </div>
                        </div>
                      </ng-template>

                      <ng-template #ytlist></ng-template>

                      <ng-template #nothing></ng-template>
                      <div class="row">


                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2">
                        <h5>End time (YYYY-MM-DD HH:MM:SS):</h5>
                        <input class="form-control" type="text" name="endTime" value="" formControlName="endTime">
                      </div>
                      </div>

                  </div>
                </div>
              </fieldset>
            </form>
            <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 mt-2 p-0">
              <button type="submit" name="button" class="btn btn-primary btn-long btn-block text-uppercase" (click)="send()">post</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
