@import "https://use.fontawesome.com/releases/v5.3.1/css/all.css";
::ng-deep body, html{
 background-color: #fefefe;
 background: url("../../assets/img/bg-pattern.png");
 background: url("../../assets/img/bg-pattern.png");
 background: url("../../assets/img/bg-pattern.png");
}
