<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
      <div class="alert alert-danger" id="error" role="alert">
          <strong>Login error!</strong> Incorrect email or password.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
      <div class="card card-login my-5">
        <div class="card-body">
          <div class="row pb-4">
            <div class="col-12">
              <h5 class="card-title text-center">Langusta</h5>
            </div>
            <div class="col-12">
              <img src="assets/img/logo.png" class="mx-auto d-block rounded-circle border logo" alt="logo">
            </div>
          </div>
          <form [formGroup]="form" class="form-login">
            <fieldset>
            <div class="form-label-group pb-4">
              <div class="row">
                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 justify-content-center align-self-center">
                  <i class="fas fa-user"></i>
                </div>
                <div class="col-10 col-sm-10 col-md-10 col-lg-11 col-xl-11">
                  <input type="email" id="inputEmail" name="login" placeholder="Email address" class="form-control" formControlName="email" required autofocus/>
                </div>
                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 justify-content-center align-self-center"></div>
                <div class="col-10 col-sm-10 col-md-10 col-lg-11 col-xl-11" *ngIf="email.errors">
                 <div *ngIf="email.touched && email.errors.required">
                    <p>Email required.</p>
                 </div>
                 <div *ngIf="email.errors.pattern">
                     <p>Email format not valid.</p>
                 </div>
              </div>
              </div>
            </div>

            <div class="form-label-group pb-2">
              <div class="row">
                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 justify-content-center align-self-center">
                  <i class='fas fa-key'></i>
                </div>
                <div class="col-10 col-sm-10 col-md-10 col-lg-11 col-xl-11">
                  <input type="password" id="inputPassword" name="pass" placeholder="Password" class="form-control" formControlName="password" required/>
                </div>
              </div>
            </div>
          </fieldset>
            <hr class="my-4">

            <button type="submit" name="button" class="btn btn-long btn-block text-uppercase" (click)="login()">Login</button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
