<div class="add-fb-post">
  <div class="row justify-content-md-center mr-0 ml-0 mt-5">
    <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><p>Send message on Facebook to all</p></h5>
          <hr class="my-4">
          <div id="error" class="alert alert-danger">

          </div>
          <div id="success" class="alert alert-success">
            The message has been sent.
          </div>
          <div id="info" class="alert alert-info">
            Sending message...
          </div>
          <div id="info2" class="alert alert-warning">
            There are no facebook accounts/fanpages associated with this account!
          </div>
          <div id="warning" class="alert alert-warning">
            Fields are empty. Please make sure to fill them before sending.
          </div>
            <form [formGroup]="form" class="">
              <fieldset>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                    <textarea name="fbPostText" rows="8" cols="80" class="form-control" formControlName="content" required></textarea>
                  </div>
                  <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                      <select class="form-control" name="fbFanpage" formControlName="fbFanpage">
                        <option *ngFor="let fbPage of fbPages" [value]="fbPage.id">{{fbPage.name}}</option>
                      </select>
                  </div>
                </div>
              </fieldset>
            </form>
            <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 mt-2 p-0">
              <button type="submit" name="button" class="btn btn-primary btn-long btn-block text-uppercase" (click)="send()">post</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
