/* @import "https://use.fontawesome.com/releases/v5.3.1/css/all.css"; */
@import url('https://fonts.googleapis.com/css?family=K2D');

.bgc
{
  background-color: #cc0000;
  border-color: #bb2121;
  text-align: right;
  font-family: 'K2D', sans-serif;
  color: #282828;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    right: 0;
    border-radius: 4px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.btn.sharp {
  border-radius:0;
}

 .btn:hover
 {
   background-color:#d3d3d3;
   border-radius: 0;
 }

 .links:hover
 {
   cursor: pointer;
 }
