<div class="dash">
  <div class="row mr-0 ml-0 mt-3">
    <div class="col-12">
<div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><p>Api Buttons</p></h5>
          <hr class="my-4">
          <button class="btn btn-info mb-2" type="button" name="button" (click)="test()">/user/me</button><br>
          <button class="btn btn-info mb-2" type="button" name="button2" (click)="test2()">/facebook/tokens</button><br>
          <button class="btn btn-info" type="button" name="button2" (click)="test3()">/facebook/profile/me</button>
        </div>
      </div>


      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><p>/user/me</p></h5>
          <hr class="my-4">
          <p>email: {{meEmail}}</p>
          <p>first name: {{meFirstName}}</p>
          <p>last name: {{meLastName}}</p>
        </div>
      </div>


      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><p>Contests</p></h5>
          <hr class="my-4">
          <div class="" id="">
            <div *ngFor = "let contest of contests" class="mb-2">
              <p>Title: {{contest.title}}</p>
              <p>Likes: {{contest.likesAmount}}</p>
              <p>End date: {{contest.endDate}}</p>
              <hr class="my-4">
            </div>
          </div>
          <div class="fbDataError" id="fbDataError">
            <p class="alert alert-danger" id="fbDataErrorMessage"></p>
          </div>
        </div>
      </div>


      <div class="w-100 mt-4"></div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><p>/facebook/tokens</p></h5>
            <hr class="my-4">
            <div class="fbToken" id="fbToken" *ngFor="let token of fbTokens">
              <p>ID: {{token.id}}</p>
              <p>Token: {{token.accessToken}}</p>
            </div>
            <div class="fbTokenError" id="fbTokenError">
              <p class="alert alert-danger" id="fbTokenErrorMessage"></p>
          </div>
        </div>
      </div>


    <div class="w-100 mt-4"></div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Lorem ipsum 1</h5>
              <hr class="my-4">
              <div>
                <p>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id lacinia ex. Vivamus vitae sapien justo. Vestibulum aliquet quis eros id posuere. Praesent malesuada massa egestas odio rutrum sagittis. Etiam id sodales augue. Duis at arcu blandit, eleifend enim sit amet, aliquet massa. Vivamus iaculis tortor nec aliquet facilisis. Ut fringilla dolor pharetra ipsum sagittis, ut consequat dui placerat. Vestibulum a est sed purus vehicula aliquet. Suspendisse ultrices congue ornare. Nam sagittis vel quam ullamcorper bibendum. Fusce euismod finibus lacus ornare tincidunt.

Integer viverra sem et ante ultricies scelerisque. In mauris massa, faucibus sit amet fringilla sed, molestie eget nisl. Ut vitae tempus magna. Aliquam elementum libero nec eleifend tincidunt. Fusce et turpis quis felis auctor tincidunt et ut risus. Nunc malesuada ex a ligula lobortis tincidunt. Proin a vulputate sapien. Nunc congue eleifend nibh, ac molestie arcu posuere at. Donec nec urna in enim lacinia convallis.

Praesent gravida, erat vel porttitor consectetur, sapien dolor tempor neque, sed hendrerit mi orci eget nunc. Quisque vel augue a augue eleifend rutrum eu id nisi. Maecenas iaculis lectus eget nisi sodales, sit amet tempus dui luctus. Fusce eu enim finibus dolor pulvinar rhoncus elementum vitae sapien. Nullam at nisi eget velit vulputate mattis. Phasellus vestibulum efficitur metus vitae mattis. Aenean pulvinar placerat venenatis. Phasellus dui tellus, maximus eu tempus ut, tristique mattis eros. Donec pharetra tincidunt eros et consectetur. Phasellus a odio vel turpis pellentesque molestie eu vitae nulla. Vestibulum dictum orci vitae hendrerit interdum.

Donec ultricies ex augue, a fringilla dolor condimentum vitae. Etiam vestibulum interdum arcu at sagittis. Cras imperdiet fringilla elementum. Quisque turpis leo, pretium eget fermentum ac, lobortis rhoncus mauris. Fusce ante nisi, hendrerit ac euismod non, fermentum posuere urna. Donec facilisis, purus vel pretium convallis, sapien risus porttitor sapien, et molestie ante risus ut nibh. Quisque ut iaculis sapien. Aenean sit amet cursus ipsum. Duis volutpat diam placerat tellus feugiat lobortis. Donec quis ipsum a arcu maximus porta fringilla lobortis enim. Quisque quis sagittis metus. Suspendisse ac consectetur enim, eu semper eros.

Cras at neque mattis, condimentum turpis vitae, semper ipsum. Quisque tempor at massa quis euismod. Curabitur blandit vitae nunc eget varius. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas ut pulvinar neque. Aliquam lobortis nisl lacus, a molestie ex sagittis ut. Vivamus consequat commodo lorem, eu pellentesque risus feugiat laoreet. Suspendisse id pharetra justo, ut ullamcorper ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis egestas lorem sit amet justo fermentum faucibus.

Nunc quis tincidunt ligula. Nam elementum risus nulla, a luctus nulla mollis vitae. In eget leo suscipit, luctus erat sed, congue odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta, mauris at dictum elementum, nisl sem efficitur libero, at accumsan metus odio ut elit. Etiam nunc sapien, lobortis vel leo non, molestie vulputate justo. Fusce ut posuere nulla, quis efficitur ipsum. Donec quis congue tellus. Integer commodo ipsum ex, rutrum congue arcu ornare id.

Pellentesque finibus mauris massa, nec laoreet neque vulputate sit amet. Vivamus vehicula lacus nec orci euismod, cursus convallis ante hendrerit. Nunc id porta purus. Sed at suscipit metus. Quisque ante orci, varius eget rutrum quis, egestas ac purus. Quisque convallis mi a dolor volutpat sodales. Mauris placerat est at feugiat eleifend. In eget urna sit amet magna scelerisque porttitor a vel nisi.

Aliquam vel sem ac orci aliquet finibus. Nulla nec ligula eget sem tincidunt ultricies. Duis sit amet semper ante. Suspendisse sollicitudin dui id augue fringilla lacinia. Etiam sed lacus vitae lectus malesuada accumsan. In consequat turpis ornare, rutrum justo sed, rutrum nisl. Nullam viverra vitae enim nec lobortis.

Vivamus pulvinar maximus elit, tempus viverra nulla pulvinar maximus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam at malesuada arcu. Ut sed volutpat nibh. Nunc et purus dignissim metus placerat interdum. Sed sed tellus efficitur, venenatis augue nec, gravida nisi. Sed ultrices finibus rhoncus. Praesent consectetur mi sed turpis congue, sed luctus arcu porttitor. Donec ipsum erat, malesuada id ante sit amet, imperdiet gravida metus. Aliquam eget arcu eu erat maximus lobortis. In rhoncus faucibus orci, ut convallis magna malesuada eu. Vivamus aliquet, nisi vel lobortis venenatis, purus lacus dictum ante, quis sodales lectus dui quis lacus.

Aliquam nunc elit, blandit imperdiet porta vehicula, dapibus id magna. Suspendisse accumsan luctus massa eu aliquam. Mauris facilisis felis a urna tempor interdum. Donec in lectus velit. Suspendisse sit amet dolor dolor. Curabitur et maximus eros. Cras vitae magna varius, rutrum dolor euismod, pulvinar velit. In sit amet nisi orci. Cras eleifend in ligula at pellentesque. Sed non dictum felis. Maecenas vulputate dui et neque euismod, in dapibus lectus interdum. Etiam tortor purus, facilisis non sodales quis, mollis sit amet erat. Donec nibh turpis, pellentesque at dui non, ultricies elementum ante. Donec aliquam nec urna ac sagittis. Nulla ullamcorper, nisl et lobortis volutpat, risus justo tempus tellus, quis consectetur magna tortor eget mi. </p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Lorem ipsum 2</h5>
              <hr class="my-4">
              <div>
                <p>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id lacinia ex. Vivamus vitae sapien justo. Vestibulum aliquet quis eros id posuere. Praesent malesuada massa egestas odio rutrum sagittis. Etiam id sodales augue. Duis at arcu blandit, eleifend enim sit amet, aliquet massa. Vivamus iaculis tortor nec aliquet facilisis. Ut fringilla dolor pharetra ipsum sagittis, ut consequat dui placerat. Vestibulum a est sed purus vehicula aliquet. Suspendisse ultrices congue ornare. Nam sagittis vel quam ullamcorper bibendum. Fusce euismod finibus lacus ornare tincidunt.

Integer viverra sem et ante ultricies scelerisque. In mauris massa, faucibus sit amet fringilla sed, molestie eget nisl. Ut vitae tempus magna. Aliquam elementum libero nec eleifend tincidunt. Fusce et turpis quis felis auctor tincidunt et ut risus. Nunc malesuada ex a ligula lobortis tincidunt. Proin a vulputate sapien. Nunc congue eleifend nibh, ac molestie arcu posuere at. Donec nec urna in enim lacinia convallis.

Praesent gravida, erat vel porttitor consectetur, sapien dolor tempor neque, sed hendrerit mi orci eget nunc. Quisque vel augue a augue eleifend rutrum eu id nisi. Maecenas iaculis lectus eget nisi sodales, sit amet tempus dui luctus. Fusce eu enim finibus dolor pulvinar rhoncus elementum vitae sapien. Nullam at nisi eget velit vulputate mattis. Phasellus vestibulum efficitur metus vitae mattis. Aenean pulvinar placerat venenatis. Phasellus dui tellus, maximus eu tempus ut, tristique mattis eros. Donec pharetra tincidunt eros et consectetur. Phasellus a odio vel turpis pellentesque molestie eu vitae nulla. Vestibulum dictum orci vitae hendrerit interdum.

Donec ultricies ex augue, a fringilla dolor condimentum vitae. Etiam vestibulum interdum arcu at sagittis. Cras imperdiet fringilla elementum. Quisque turpis leo, pretium eget fermentum ac, lobortis rhoncus mauris. Fusce ante nisi, hendrerit ac euismod non, fermentum posuere urna. Donec facilisis, purus vel pretium convallis, sapien risus porttitor sapien, et molestie ante risus ut nibh. Quisque ut iaculis sapien. Aenean sit amet cursus ipsum. Duis volutpat diam placerat tellus feugiat lobortis. Donec quis ipsum a arcu maximus porta fringilla lobortis enim. Quisque quis sagittis metus. Suspendisse ac consectetur enim, eu semper eros.

Cras at neque mattis, condimentum turpis vitae, semper ipsum. Quisque tempor at massa quis euismod. Curabitur blandit vitae nunc eget varius. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas ut pulvinar neque. Aliquam lobortis nisl lacus, a molestie ex sagittis ut. Vivamus consequat commodo lorem, eu pellentesque risus feugiat laoreet. Suspendisse id pharetra justo, ut ullamcorper ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis egestas lorem sit amet justo fermentum faucibus.

Nunc quis tincidunt ligula. Nam elementum risus nulla, a luctus nulla mollis vitae. In eget leo suscipit, luctus erat sed, congue odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta, mauris at dictum elementum, nisl sem efficitur libero, at accumsan metus odio ut elit. Etiam nunc sapien, lobortis vel leo non, molestie vulputate justo. Fusce ut posuere nulla, quis efficitur ipsum. Donec quis congue tellus. Integer commodo ipsum ex, rutrum congue arcu ornare id.

Pellentesque finibus mauris massa, nec laoreet neque vulputate sit amet. Vivamus vehicula lacus nec orci euismod, cursus convallis ante hendrerit. Nunc id porta purus. Sed at suscipit metus. Quisque ante orci, varius eget rutrum quis, egestas ac purus. Quisque convallis mi a dolor volutpat sodales. Mauris placerat est at feugiat eleifend. In eget urna sit amet magna scelerisque porttitor a vel nisi.

Aliquam vel sem ac orci aliquet finibus. Nulla nec ligula eget sem tincidunt ultricies. Duis sit amet semper ante. Suspendisse sollicitudin dui id augue fringilla lacinia. Etiam sed lacus vitae lectus malesuada accumsan. In consequat turpis ornare, rutrum justo sed, rutrum nisl. Nullam viverra vitae enim nec lobortis.

Vivamus pulvinar maximus elit, tempus viverra nulla pulvinar maximus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam at malesuada arcu. Ut sed volutpat nibh. Nunc et purus dignissim metus placerat interdum. Sed sed tellus efficitur, venenatis augue nec, gravida nisi. Sed ultrices finibus rhoncus. Praesent consectetur mi sed turpis congue, sed luctus arcu porttitor. Donec ipsum erat, malesuada id ante sit amet, imperdiet gravida metus. Aliquam eget arcu eu erat maximus lobortis. In rhoncus faucibus orci, ut convallis magna malesuada eu. Vivamus aliquet, nisi vel lobortis venenatis, purus lacus dictum ante, quis sodales lectus dui quis lacus.

Aliquam nunc elit, blandit imperdiet porta vehicula, dapibus id magna. Suspendisse accumsan luctus massa eu aliquam. Mauris facilisis felis a urna tempor interdum. Donec in lectus velit. Suspendisse sit amet dolor dolor. Curabitur et maximus eros. Cras vitae magna varius, rutrum dolor euismod, pulvinar velit. In sit amet nisi orci. Cras eleifend in ligula at pellentesque. Sed non dictum felis. Maecenas vulputate dui et neque euismod, in dapibus lectus interdum. Etiam tortor purus, facilisis non sodales quis, mollis sit amet erat. Donec nibh turpis, pellentesque at dui non, ultricies elementum ante. Donec aliquam nec urna ac sagittis. Nulla ullamcorper, nisl et lobortis volutpat, risus justo tempus tellus, quis consectetur magna tortor eget mi. </p>
              </div>
            </div>
          </div>

<div class="w-100 mt-4"></div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Lorem ipsum 3</h5>
              <hr class="my-4">
              <div>
                <p>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id lacinia ex. Vivamus vitae sapien justo. Vestibulum aliquet quis eros id posuere. Praesent malesuada massa egestas odio rutrum sagittis. Etiam id sodales augue. Duis at arcu blandit, eleifend enim sit amet, aliquet massa. Vivamus iaculis tortor nec aliquet facilisis. Ut fringilla dolor pharetra ipsum sagittis, ut consequat dui placerat. Vestibulum a est sed purus vehicula aliquet. Suspendisse ultrices congue ornare. Nam sagittis vel quam ullamcorper bibendum. Fusce euismod finibus lacus ornare tincidunt.

Integer viverra sem et ante ultricies scelerisque. In mauris massa, faucibus sit amet fringilla sed, molestie eget nisl. Ut vitae tempus magna. Aliquam elementum libero nec eleifend tincidunt. Fusce et turpis quis felis auctor tincidunt et ut risus. Nunc malesuada ex a ligula lobortis tincidunt. Proin a vulputate sapien. Nunc congue eleifend nibh, ac molestie arcu posuere at. Donec nec urna in enim lacinia convallis.

Praesent gravida, erat vel porttitor consectetur, sapien dolor tempor neque, sed hendrerit mi orci eget nunc. Quisque vel augue a augue eleifend rutrum eu id nisi. Maecenas iaculis lectus eget nisi sodales, sit amet tempus dui luctus. Fusce eu enim finibus dolor pulvinar rhoncus elementum vitae sapien. Nullam at nisi eget velit vulputate mattis. Phasellus vestibulum efficitur metus vitae mattis. Aenean pulvinar placerat venenatis. Phasellus dui tellus, maximus eu tempus ut, tristique mattis eros. Donec pharetra tincidunt eros et consectetur. Phasellus a odio vel turpis pellentesque molestie eu vitae nulla. Vestibulum dictum orci vitae hendrerit interdum.

Donec ultricies ex augue, a fringilla dolor condimentum vitae. Etiam vestibulum interdum arcu at sagittis. Cras imperdiet fringilla elementum. Quisque turpis leo, pretium eget fermentum ac, lobortis rhoncus mauris. Fusce ante nisi, hendrerit ac euismod non, fermentum posuere urna. Donec facilisis, purus vel pretium convallis, sapien risus porttitor sapien, et molestie ante risus ut nibh. Quisque ut iaculis sapien. Aenean sit amet cursus ipsum. Duis volutpat diam placerat tellus feugiat lobortis. Donec quis ipsum a arcu maximus porta fringilla lobortis enim. Quisque quis sagittis metus. Suspendisse ac consectetur enim, eu semper eros.

Cras at neque mattis, condimentum turpis vitae, semper ipsum. Quisque tempor at massa quis euismod. Curabitur blandit vitae nunc eget varius. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas ut pulvinar neque. Aliquam lobortis nisl lacus, a molestie ex sagittis ut. Vivamus consequat commodo lorem, eu pellentesque risus feugiat laoreet. Suspendisse id pharetra justo, ut ullamcorper ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis egestas lorem sit amet justo fermentum faucibus.

Nunc quis tincidunt ligula. Nam elementum risus nulla, a luctus nulla mollis vitae. In eget leo suscipit, luctus erat sed, congue odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta, mauris at dictum elementum, nisl sem efficitur libero, at accumsan metus odio ut elit. Etiam nunc sapien, lobortis vel leo non, molestie vulputate justo. Fusce ut posuere nulla, quis efficitur ipsum. Donec quis congue tellus. Integer commodo ipsum ex, rutrum congue arcu ornare id.

Pellentesque finibus mauris massa, nec laoreet neque vulputate sit amet. Vivamus vehicula lacus nec orci euismod, cursus convallis ante hendrerit. Nunc id porta purus. Sed at suscipit metus. Quisque ante orci, varius eget rutrum quis, egestas ac purus. Quisque convallis mi a dolor volutpat sodales. Mauris placerat est at feugiat eleifend. In eget urna sit amet magna scelerisque porttitor a vel nisi.

Aliquam vel sem ac orci aliquet finibus. Nulla nec ligula eget sem tincidunt ultricies. Duis sit amet semper ante. Suspendisse sollicitudin dui id augue fringilla lacinia. Etiam sed lacus vitae lectus malesuada accumsan. In consequat turpis ornare, rutrum justo sed, rutrum nisl. Nullam viverra vitae enim nec lobortis.

Vivamus pulvinar maximus elit, tempus viverra nulla pulvinar maximus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam at malesuada arcu. Ut sed volutpat nibh. Nunc et purus dignissim metus placerat interdum. Sed sed tellus efficitur, venenatis augue nec, gravida nisi. Sed ultrices finibus rhoncus. Praesent consectetur mi sed turpis congue, sed luctus arcu porttitor. Donec ipsum erat, malesuada id ante sit amet, imperdiet gravida metus. Aliquam eget arcu eu erat maximus lobortis. In rhoncus faucibus orci, ut convallis magna malesuada eu. Vivamus aliquet, nisi vel lobortis venenatis, purus lacus dictum ante, quis sodales lectus dui quis lacus.

Aliquam nunc elit, blandit imperdiet porta vehicula, dapibus id magna. Suspendisse accumsan luctus massa eu aliquam. Mauris facilisis felis a urna tempor interdum. Donec in lectus velit. Suspendisse sit amet dolor dolor. Curabitur et maximus eros. Cras vitae magna varius, rutrum dolor euismod, pulvinar velit. In sit amet nisi orci. Cras eleifend in ligula at pellentesque. Sed non dictum felis. Maecenas vulputate dui et neque euismod, in dapibus lectus interdum. Etiam tortor purus, facilisis non sodales quis, mollis sit amet erat. Donec nibh turpis, pellentesque at dui non, ultricies elementum ante. Donec aliquam nec urna ac sagittis. Nulla ullamcorper, nisl et lobortis volutpat, risus justo tempus tellus, quis consectetur magna tortor eget mi. </p>
              </div>
            </div>
          </div>





        </div>
    </div>
  </div>
</div>
