@import "https://use.fontawesome.com/releases/v5.3.1/css/all.css";
@import url('https://fonts.googleapis.com/css?family=K2D');

p, h5
{
  font-family: 'K2D', sans-serif;
}

.fbData, .fbDataError, .fbTokenError
{
  display: none;
}

#error
{
  display: none;
}

#success
{
  display: none;
}

.card-body a{
  text-decoration: none;
}
