<div class="dash">
  <div class="row mr-0 ml-0 mt-5">
    <div class="col-12">

      <div class="row justify-content-md-center">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">My informations.</h5>
              <hr class="my-4">
              <p>Email: {{meEmail}}</p>
              <p>First name: {{meFirstName}}</p>
              <p>Last name: {{meLastName}}</p>
              <a href="api/facebook/createAuth/{{token}}"><button name="button" class="btn btn-long btn-block text-uppercase btn-primary">Add token</button></a>
            </div>
          </div>
        </div>
      </div>


<div class="row justify-content-md-center">
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="w-100 mt-4"></div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Change password</h5>
            <hr class="my-4">

              <div class="alert alert-danger" id="error" role="alert">

              </div>
              <div class="alert alert-success" id="success" role="alert">
                  <strong>Password changed.</strong>
              </div>

            <form [formGroup]="form" class="form-login">
              <fieldset>

                              <div class="form-label-group pb-2">
                                <div class="row">
                                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <input type="password" id="inputPassword" name="pass" placeholder="Old password" class="form-control" formControlName="currentPassword" required/>
                                  </div>

                                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf="currentPassword.errors">
                                   <div *ngIf="currentPassword.touched && currentPassword.errors.required">
                                      <p>This field is required.</p>
                                   </div>
                                  </div>

                                </div>
                              </div>

                              <div class="form-label-group pb-2">
                                <div class="row">
                                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <input type="password" placeholder="New password" class="form-control" formControlName="newPassword" oninvalid="setCustomValidity('Minimum length is 6 characters')" required/>
                                  </div>

                                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf="newPassword.errors">
                                   <div *ngIf="newPassword.touched && newPassword.errors.required">
                                      <p>This field is required.</p>
                                   </div>
                                  </div>

                                </div>
                              </div>

                              <div class="form-label-group pb-4">
                                <div class="row">
                                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <input type="password" placeholder="Repeat password" class="form-control" formControlName="confirmPassword" oninvalid="setCustomValidity('Minimum length is 6 characters')" required/>
                                  </div>

                                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf="confirmPassword.errors">
                                   <div *ngIf="confirmPassword.touched && confirmPassword.errors.required">
                                      <p>This field is required.</p>
                                   </div>
                                  </div>

                                </div>
                              </div>
            </fieldset>
            <button type="submit" name="button" class="btn btn-long btn-block text-uppercase btn-primary" (click)="changePassword()">Change password</button>
            </form>

          </div>
        </div>

        </div>
      </div>

      </div>
    </div>
</div>
